<template>
  <div>
    <app-article>
      <p>
        لو فرضا تعلمت 1000 لغة كم لغة منها راح تستخدم؟ في اسوء الحالات لما تكون تطور ويب مثلا عندك عدة لغات لكن ما راح تستخدمهم كلهم الا لما تكون full stack
        <br>
        فرضا انك فل ستاك؛ هل تضمن لي انك مع ال 1000 لغة راح تكون احسن من شخصين واحد عنده 3 لغات متوسع فيهم في الباكند و الثاني عنده 5 لغات في الفرونت اند؟
        <br>
        في الجامعة ممكن نتعلم 5 لغات لكن الهدف هو المفاهيم الي وراها مو اللغات نفسها
      </p>

      <p>
        في الجامعة تعلمت (دفعة 2012):
        <ul>
          <li>Java</li>
          <li>C</li>
          <li>Python</li>
          <li>Html+js+css</li>
          <li>MIPS Mars</li>
          <li>وشوي على كم لغة خفيفة مثل haskell, prolog, إدريس</li>
        </ul>
      </p>

      <p>
        اكثر من paradigm وأكثر من شي
        <br>
        لكن البعض مفاهيمه تنطبق في أكثر من مجال وأكثر من لغة
        <br>
        لكن البعض ممكن تحصله في اشياء محصورة أكثر وما راح تشوفه في حياتك بعد الكورس الي ماخذها فيه. وهالشي طبيعي
      </p>

      <p>
        الحين انا اشتغل على
        HTML + JS + CSS
        <br>
        بعض المفاهيم المشتركة تنطبق. الأشياء العامة نفسها في كل اللغات
        <br>
        نقول عندي كان 10 لغات في أكثر من شيء ب مستويات مختلفة؛ لكن الحين اللغات اللي ما استخدمها اندفنت في الذاكرة وما عندي الا تقريبا اللغات الخاصة ب الويب
      </p>

      <p>
        <span class="text-h6">
          لكن لو عندي 1000 لغة
          <span class="text-decoration-underline font-weight-bold">(فرضا)</span>
        </span>
        <ul>
          <li>
            اول شيء الوقت والعمر راح وانا اتعلم فيهم؛ الوقت اهم عنصر؛ في الفترة العمرية الي نكون فيها في الجامعة هي فترة المخ يجمع أكثر شي ف الأفضل نتعلم اشياء، راح نستخدمها
          </li>
          <li>
            ثانيا ما راح نستخدم كل اللغات ف الأفضل بدل ما الشخص يتعلم 1000 لغة بشكل سطحي لكل لغة و  مفاهيم مضروبة و تتضارب السينتاكسات مع بعض وتلخبط الدنيا عنده. الأفضل يشوف المجال الي يبيه و يتعلم حتى لو لغة أو لغتين في المجال و يتطور كثير فيهم افضل. حتى لو ما كان راح يشتغل عليهم؛ المفاهيم واضحة عنده لانه متوسع في المجال حتى لو راح مجال ثاني المفاهيم تنطبق بشكل نسبي إذا ما كانت بشكل كلي
          </li>
          <li>
            ثالثا (طولنا 😂) اللغات تروح وتجي؛ مثلا لغة كوبول فيه للحين عليها طلب في محاور ضيقة مع انها أكبر منا كلنا
            <ul>
              <li>
                فلو الشخص تعلم 1000 لغة؛ 700 منهم راح يكونون مو أقوى شيء في المجال المعين وجاء بدالهم 500 لغة. و 300 لغة الباقين منهم تحولوا مع الوقت إلى مجال معين وكذلك نزلت لهم تحديثات وابو 1000 لغة ما يقدر يلحق عليهم. خصوصا الحين الوتيرة أسرع من قبل
              </li>
            </ul>
          </li>
          <li>
            رابعا كل لغة فيها مجتمع وفيها مكتبات؛ كونك في 1000 لغة فما راح تلحق على تغيرات المجتمع و المكتبات الي تروح وتجي والي تتخصص في مجال (على سبيل المثال البايثون و مكتبات الذكاء الصناعي وتحليل البيانات)
          </li>
        </ul>
      </p>

      <p>
        ممكن يتبع في وقت لاحق................
      </p>
    </app-article>
  </div>
</template>

<script>
export default {
  head: {
    title: 'انا بتعلم 1000 لغة - ابراهيم البلادي',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'ايش بيصير لو كنت اعرف 1000 لغة.'
      }
    ]
  }
}
</script>
