<template>
  <div>
    <app-article>
      <p>
        لغة Python افضل لغة
        <br>
        لغة Java زبالة
        <br>
        لغة C اقوى شيء في العالم
        <br>
        لغة JavaScript ضعيفة جدا
        <br>
        تعلم Ruby بس لا تتعلم PHP
        <br>
        لا تتعلم <span dir="ltr">C++</span> تعلم <span dir="ltr">C#</span>
      </p>

      <p>
        كل الجمل السابقة صحيحة
        <br>
        كل الجمل السابقة خاطئة
      </p>

      <div class="text-h5 mb-2 mt-5">
        السياق
      </div>

      <p>
        كل الجمل السابقة تحتمل الخطأ والصواب حسب السياق (Context).
        <br>
        بدون سياق كل شيء يكون صحيح وخطأ في نفس الوقت.
        <br>
        فيه في الـ Boolean Algebra شيء مشابة.
        <br>
        مثلا جملة انا رئيس الولايات المتحدة الامريكية (ما اتشرف) صحيحة,
        <br>
        لكن سياقها مثلا في: لو كان اسمي ترمب اوباما فـ انا رئيس الولايات.
        <br>
        فـ بحكم ان اسمي مو ترمب اوباما فـ ممكن اكون الرئيس وممكن لا, فلذلك
        الجملة الشرطية صحيحة.
      </p>

      <div class="text-h5 mb-2 mt-5">
        المجال
      </div>

      <p>
        وغير السياق, عندنا المجال.
        <br>
        فمثلا ما تسمع كثير ناس تبرمج مثلا جافا للذكاء الصناعي, ما اقول ما فيه,
        فيه لكن قليل مقارنة مثلا بـ بايثون.
        <br>
        ولو كان عندنا المجال هو الالعاب, ما راح تشوف العاب كثيرة مثلا بلغة روبي
        مقارنة مثلا بلغة جافا او سي شارب.
      </p>

      <p>
        احد اسباب كثرة لغات البرمجة هو المجالات المتعددة:
        <br>
        عندنا ذكاء صناعي وتحليل بيانات وML.
        <br>
        عندنا تطوير الالعاب سواء 2D 2.5D 3D الواقع الافتراضي والواقع المعزز وما
        ادري ايش يطلع لنا في المستقبل.
        <br>
        عندنا تطوير المواقع سواء كان فرونت اند او كان باكند, سواء كان 2-tier او
        3-tier, وكذلك سواء كان MVC او MVP او MVVM.
      </p>

      <p>
        كل مجال له لغات ممتازة فيه, لكن مافي لغة ممتازة في كل المجالات.
        <br>
        لكن المجال ممكن ما يكون العامل الوحيد المؤثر في اختيار الشخص للغة.
        <br>
        موضوعنا في هاذي المقالة فقط كثرة اللغات وتلميحات عن كيفية المقارنة (حسب
        السياق طبعا).
        <br>
        لكن مو موضوعنا كيف تختار اللغة المناسبة لك او لمشروعك او لشركتك.
      </p>

      <div class="text-h5 mb-2 mt-5">
        الفلسفات
      </div>

      <p>
        كذلك من اسباب كثرة اللغات هو فلسلة كل لغة.
        <br>
        فمثلا عندنا PHP و Ruby تقريبا المجال الاساسي واحد الي هو تطوير الباكند.
        <br>
        لكن ليش عندنا هالاثنين والمجال واحد, ووقت اصدار الاثنين تقريبا قريب من
        بعض.
        <br>
        تم اصدار PHP سنة 1994 و Ruby سنة 1995, ليش تم اصدار Ruby وعندنا PHP؟
        <br>
        حسب
        <a
          href="https://w3techs.com/technologies/overview/programming_language"
          rel="nofollow"
        >https://w3techs.com/technologies/overview/programming_language</a>
        <br>
        نسبة PHP هي 78.2% ونسبة Ruby هي 5.9% بالعربي ما تصف جنبها (؟).
        <br>
        لكن النسبة هاذي الصغيرة كانت ولازالت تزيد شهر بعد شهر وسنة بعد سنة.
        <br>
        (قبل سنتين ونصف تقريبا كانوا 79% مقارنة ب 2.5%)
      </p>

      <p>
        اللغتين ثنتينهم Open-source ليش ما فريق Ruby سووا fork (اشتقاق) لـ PHP وعملوا
        تغييراتهم؟
        <br>
        الجواب هو الفلسفة, الفلسفة هي شيء اساسي لما تحدد ايش تستخدم او تبني
        مشروعك عليه.
        <br>
        اذا كان الشيء عكس فلسفتك او مو متطابق بشكل كبير معاها راح
        تشوف نفسك في جزيرة وحدك, اذا ما كان بعد شهر بتكون بعد سنة.
        <br>
        لغة PHP تعتبر افضل كـ اداء برمجي (تشغيلي) اما Ruby طريقة الكتابة اسهل
        لكن اداء Ruby ممكن يكون اسوأ من PHP, المقارنة صعبة او ممكن ما تكون
        صحيحة لان الشخص بيقارن تفاح ببرتقال.
        <br>
        في النهاية نقدر نلخص الفلسفة كالتالي:
        <br>
        لغة الـ PHP تفضل الاداء اما لغة Ruby تفضل سرعة وسهولة الكتابة.
        <br>
        (مع انها اعمق من كذا اصلا لان موضوع الفلسفة عميق ويحتاج وقت وجهد لشرحه (ممكن احد يكتب مقالة لها في المستقبل))
      </p>

      <div class="text-h5 mb-2 mt-5">
        السهولة او الصعوبة
      </div>

      <p>
        فيه كذلك عامل من عوامل كثرة اللغات, الذي هو سهولة او صعوبة اللغات (نوعا
        ما جزء من الفلسفة).
        <br>
        فمثلا لما تكون عندي لغة جبارة لكن صعبة, يجي شخص ثاني يقول ليش معقدها
        ويقوم يسوي شيء مشابه لها بطريقة هو (وفريقه اذا كان مع فريق) يشوف افضل من
        الي استوحى منها.
        <br>
        ممكن يكون رؤيته صحيحة وراح تطلع اللغة على العلن وتكتسب شهرة (مثلا Rust).
        <br>
        ممكن رويته تكون خاطئة, وفي النهاية اللغة تكون مضروبة او شوي شوي تتحول
        الى اللغة الي استوحى منها لانه في عوامل او edge cases ما اخذها في
        الحسبان مثل الميموري و التخزين, وكذلك انظمة التشغيل والمعماريات.
      </p>

      <div class="text-h5 mb-2 mt-5">
        المجتمع
      </div>

      <p>
        عامل آخر (ايضا له علاقة بالفلسفة) هو المجتمع (والمكتبات).
        <br>
        وجود مجتمع قوي او عدم وجود مجتمع قوي يؤثر على كثرة اللغات الموجودة وكذلك
        اشتقاق الفلسفات في اللغة الواحدة.
        <br>
        مطور اللغة وفريقه في البداية لديهم فلسفة خاصة فيهم, لكن بعد انتشار اللغة
        ومع مرور الوقت تتضح لديهم وجهات نظر اكثر. كذلك فريق التطوير ممكن يتغير
        مع مرور الوقت, شخص كان من المجتمع كان يطور مكتبة ثم عجبته اللغة كثيرا فـ
        حب ينضم للفريق ودخل للفريق ومعه ارائه ورؤياته وتطلعاته وطموحه. ومن
        الجانب الاخر, شخص آخر تعب من الشغل على اللغة وحب يتقاعد من التطوير, فكذا
        ارائه ورؤياته وتطلعاته وطموحه الي كانت احد اسباب كون اللغة بهاذا الشكل
        والمعيار انزالت من الفريق فممكن تتغير اللغة (مع مرور الوقت طبعا) الى شيء
        مختلف بشكل خفيف.
      </p>

      <p>
        لما يكون المجتمع كبير, الاراء تختلف, فـ ممكن لغة تنقسم الى لغتين حسب
        اراء المجتمع المنقسمة الى قسمين.
        <br>
        (للاسف ما عندي اسماء للغات انقسمت الى لغتين او اكثر, اذا احد عنده يرسل لي
        علشان اعدل “المقالة”)
      </p>

      <p>
        كذلك قد يكون هنالك قنوات تواصل واتصال بين المجتمع والقائمين على اللغة (feedback).
        <br>
        و مع الاستماع لتجاربهم قد يتم نحت اللغة بسبب هذه التجارب, من ناحية اضافة خواص اضافية او تعديل على خواص قديمة او حذف هذه الخواص بالكامل.
      </p>

      <div class="text-h5 mb-2 mt-5">
        الوقت والتقنية
      </div>

      <p>
        الوقت والتقنية, احد العوامل لكثرة اللغات البرمجية (ايضا له علاقة
        بالفلسفة).
        <br>
        مع مرور الوقت عندنا عتاد (هاردوير) افضل (معالجات افضل, مساحات تخزينية اكبر, سرعة قراءة وكتابة),
        <br>
        عندنا
        multi processing ,عندنا multi
        threading و عندنا multi tasking.
        <br>
        اللغات الي كانت ضعيفة صارت اقوى مع ما تم ذكره من multis اذا كان تم
        دعمها, اذا ما تم دعمها ممكن تطلع لغة بديلة تدعمها وتقتل اللغة السابقة.
        <br>
        وكذلك ايضا اصبح عندنا quantum computer وطلعت لغات خاصة فيه (QCL, <span dir="ltr">Q#</span> …).
        <br>
        وعندنا ايضا مساحة التخزين صارت رخيصة فلذلك بعض اللغات (الجديدة والمستحدثة)
        صارت تستفيد من هالشيء بوضع البيانات في مساحة التخزين بدل الذاكرة عند عدم
        الحاجة اليها طول الوقت.
        <br>
        عندنا garbage collection في بعض اللغات (الجديدة والمستحدثة) بدل memory
        allocation و memory reallocation و memory de-allocation اليدوي في بعض
        اللغات القديمة (مثل لغة C).
      </p>

      <div class="text-h5 mb-2 mt-5">
        الـ Paradigms (الانماط او المناهج البرمجية)
      </div>

      <p>
        كذلك عندنا سبب من اسباب كثرة اللغات هو كثرة الـ Paradigms الموجودة.
        <br>
        لكن ما عندي في الغنم تيس فيهم فما راح اتكلم كثير فيها.
        <br>
        فيه انماط كثيرة لكن الاشهر (وممكن الموجودة في المناهج الدراسية) تقريبا هم.
        <br>
      </p>

      <p>
        <strong>Imperative (الأمرية)</strong>
      </p>

      <ul>
        <li>
          Procedural (الإجرائية)
          <ul>
            <li>مثل: Fortran, ALGOL, COBOL …</li>
          </ul>
        </li>
      </ul>

      <ul>
        <li>
          Object-oriented (كائنية او شيئية او غرضية)
          <ul>
            <li>
              مثل: <span dir="ltr">C++</span>, Javascript, Python, Java, .NET …
            </li>
            <li>وكذلك فيه شيء مشابة لها يسمى object-based</li>
          </ul>
        </li>
      </ul>

      <br>

      <p>
        <strong> Declarative (تعريفية) </strong>
      </p>

      <ul>
        <li>
          Functional (وظيفية)
          <ul>
            <li>
              مثل: Haskell, Common Lisp, Scheme, Clojure, Wolfram Language
            </li>
            <li>وبعض اللغات الموجودة في object-oriented</li>
          </ul>
        </li>
        <li>
          Logic (منطقية)
          <ul>
            <li>مثل: Prolog, answer set programming (ASP), Datalog …</li>
          </ul>
        </li>
        <li>
          Reactive
          <ul>
            <li>مثل: Verilog</li>
          </ul>
        </li>
        <li>Mathematical</li>
      </ul>

      <div class="text-h5 mb-2 mt-5">
        المستوى
      </div>

      <p>
        فيه كذلك عنصر اخير لكثرة وجود اللغات الذي هو “المستوى”.
        <br>
        سمعنا عن لغات عالية المستوى ولغات منخفضة المستوى او High-level و
        Low-level.
        <br>
        المستوى لا يعني ان العالية افضل من المنخفضة.
        <br>
        كل ما قربنا للغة الآلة كل ما كان الاداء البرمجي افضل, لكن الكتابة من
        اسوأ ما يكون.
        <br>
        والعكس صحيح, كل ما ابتعدنا عن لغة الآلة الكتابة تكون اسهل وابسط (ككتابة
        وقراءة), لكن الاداء من اسوأ ما يكون.
      </p>

      <p>
        حسب ذاكرتي, في موقع Hackerrank لما يكون الوقت الاقصى حق سوال تم حله
        بالجافا 4 ثواني, يكون تقريبا 6 او 8 في البايثون.
        <br>
        فمثلا هنا نقدر نقول بشكل عام بايثون ابطأ من الجافا ب 50~100% تقريبا.
        <br>
        هالشيء ممكن ما يكون دائما صحيح لكنه كـ متوسط فقط.
        <br>
        بعض البرامج لو تم عملها بالبايثون قد تكون اسرع من الجافا والعكس صحيح.
      </p>

      <p>
        عندنا الكلمة المحورية, “كمتوسط”, لان بعض الحالات تشذ عن المتوسط اما اكبر
        منه او اصغر منه.
        <br>
        فـ كمتوسط اللغات العالية المستوى ابطأ من اللغات المنخفضة المستوى.
        <br>
        تحديد ايش مستوى اللغة صعب, لان ما عندنا الا مسميين, عالي المستوى ومنخفض
        المستوى.
        <br>
        (هم معرفينهم بالاساس لكن مافي الا مستويين, فما في شيء يفصل اللغات في المستوى الواحد)
      </p>

      <p>
        الجافا والبايثون اثنينهم عاليين المستوى لكن البايثون اعلى من الجافا.
        <br>
        الـ Ruby و الـ PHP اثنين عاليين المستوى ايضا, لكن Ruby اعلى من الـ PHP.
        <br>
        فائدة العالية المستوى انك تخلص كتابة الشغل اسرع (Time to Market) مقارنة بمخفضة المستوى
        (طالما ما كنت تشتغل على الهاردوير).
      </p>

      <p>
        فمثلا لو كنت بتشتغل على C راح تسوي المشروع في 12 شهر, لو PHP في 6 شهور, لو
        Ruby في 4 شهور (بافتراض انك بنفس مستوى المعرفة في الثلاثة).
        <br>
        لكن الاداء مثلا 1 وحدة معالجة في C, و 2 وحدات معالجة في PHP و 3 في Ruby
        (فقط كمقياس).
      </p>

      <p>
        بعض الشركات الناشئة تبتدي بشيء عالي المستوى مثلا Ruby وتكمل عليه علشان
        تدخل السوق وتكسب فلوس بالاول.
        <br>
        ممكن مع مرور الوقت يتم اعادة كتابة بعض الاشياء في PHP مثلا لتحسين الاداء
        (اذا كان عندهم وقت اصلا, لان دائما راح تبني اشياء جديدة).
      </p>

      <p>
        مثلا فيسبوك (شركة التبن), كانت في عام 2004 مكتوبة بـ PHP (او
        <span dir="ltr">C++</span>) تالي في 2010 اعادوا كتابة جزء من الباكند بـ
        <span dir="ltr">C++</span> (او PHP),
        <br>
        ثم في 2012 عملوا refactor واضافوا جافا الى الخليط حقهم. في عام 2013
        اضافوا لغة D (*) الى السموثي حقهم. وفي 2014 اطلقوا لغة اسمها hack وحطوها
        في السموثي.
        <br>
        فيه كذلك فواكة اخرى في السموثي لكن ما تاثر في شرحنا السابق.
      </p>

      <p>
        في النهاية (وتذكير), اللغات تروح وتجي حسب احتياج البزنز,
        <br>
        لكن لما يكون فيه وقت زايد (شيء نادر في البزنز) يتم عمل تحسين اداء و
        refactor وممكن استبدال اجزاء من لغة عالية الى لغة منخفضة شوي عنها, خصوصا
        الاشياء الي ما بتتحدث (كثير) في المستقبل.
        <br>
        ولو عندك فلوس مثل التيسبوك, يمديك تبني لغة جديدة (D) واطار عمل جديد (React).
      </p>

      <p>
        * لغة D البعض يسميها Dlang, وهي لغة مبنية على <span dir="ltr">C++</span>.
      </p>

      <div class="text-h5 mb-2 mt-5">
        العامل الغير عامل
      </div>

      <p>
        فيه عامل اضافي لكن ما راح اعتبره عامل (كتبت عامل اخير فوق, هاذا بره
        المصفوفة).
        <br>
        ان الشخص بس حاب يسوي لغة برمجة بدون هدف فقط لانه يبي يسوي لغة برمجة
        ويقول سويت لغة برمجة.
        <br>
        وغالبا هاذي اللغة ما راح تشوف اسمها الا في موقع ويكيبيدا وتحصلها غير
        مستخدمة وميتة.
        <br>
        الحالات النادرة الي تطلع وتصير مشهورة راح نسمع فيها فما يحتاج تبحث عن هاذي اللغات,
        <br>
        لكن كما قلنا شيء نادر انها تطلع من دائرة النكرة وتصير معروفة.
        <br>
        ممكن 900 من
        الـ 1000 لغة في المقالة السابقة هي لغات تم تطويرها من مبرمج واحد كان
        سكران.
      </p>

      <hr class="my-2">

      <div class="text-h5 mb-2 mt-5">
        الخاتمة
      </div>

      <p>
        ما تم ذكره في هذه المقالة ينطبق بشكل كبير ايضا على الادوات والمكتبات واطارات العمل.
        <br>
        وفي الختام المقالة هاذي قد يكون فيها اراء شخصية واشياء اشوفها انها صحيحة
        قد تكون خاطئة بوجود سياق مختلف (Context).
      </p>
    </app-article>
  </div>
</template>

<script>
export default {
  head: {
    title: 'افضل لغة في العالم - ابراهيم البلادي',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'انسى كل اللغات الي تعرفها وتعلم هاذي اللغة وبس.'
      }
    ]
  }
}
</script>
