<template>
  <div>
    <app-article>
      <p>
        بالبداية انا cs دفعة 2012
        <br>
        داخل الجامعة وكنت مخطط ادخل كيمياء أو بترول، لكن حطيت رغبة أولى سوفتوير
        <br>
        دخلت سوفتوير جلست فرشمن تقريبا وشوي من السفمور؛ لكن ما عجبتني اول مادتين سوفتوير؛ على كلام عيال السوفتوير يقولون بس اول مادتين كريهين والباقي عادي
        <br>
        فما عجبني الوضع وغيرت التخصص إلى cs
      </p>

      <p>ما كانت عندي خلفية برمجية قبل دخولي للبترول غير مادة الحاسب الي في الثانوية وشوي inspect في المتصفح</p>

      <p>
        الوضع كان ماشي؛ الاوريا كانت ضغط وقت أكثر من انها ضغط شغل؛ بمسمى اخر تيليتابيس
        <br>
        كانت حياتنا سهلة بحكم عدم وجود ملهيات كثيرة؛ كان الواتساب في بدايته. وما كان عندنا شي نضيع وقت عليه غير الأفلام و المسلسلات (والألعاب اغلبها بيض الا age of empires)
      </p>

      <p>
        في الجبل الي يكسر الرجول؛ كانت السنة الأولى من زاوية إلى زاوية مشيا على الأقدام تحت أشعة الشمس الباردة
        <br>
        بعد ما خلصت اغلب المواد العامة الجدول صار كله في مبنى 22 و 24 فما اشوف الشمس الا وانا رايح المطعم
      </p>

      <p>كنت ماشي صح وتارك كل ال trends الي تطلع ؛ الواتساب استخدمه للضرورة كانت الوسيلة الوحيدة البديلة للاتصال. لكن فيه تريندات كثيرة طلعت مثل ال bbm والحمد لله ما استخدمتها الا لما خلص الترند 😂</p>

      <p>فكان اغلب جدول حياتنا هو دوام؛ مذاكرة وحل واجبات؛ نوم؛ افلام ومسلسلات؛ وشوية طلعات تغيير جو. بحكم اغلب ما تم ذكره يصير غالبا في الغرفة ف اختر الروميت الي يناسبك تماما مو الروميت الي تعرفه من قبل او الي يقرب لك</p>

      <p>
        عندي بعض ال activities الغير الأكاديمية. اشتغلت مصحح تقريبا ثلاث مرات؛ شاركت في ثلاث هكاثونات داخل الجامعة وواحد CTF داخل الجامعة و دورتين (يفتحونهم للجنير و السنير فيمدي الواحد ياخذ له تقريبا أربعة قبل ما يتخرج)
        <br>
        نادي الحاسب كان خامل أو بالمرة نقول طافي في فترتي؛ استنشط ورجعت له الحياة يمكن آخر 1~2 سنة قبل تخرجي؛ فهالفترة الوضع يكون ضغط وما شاركت فيه بتاتا
      </p>

      <p>والحمد لله بعد كفاح طويل تخرجت من الجامعه بمرتبة الشرف (الخرف؟) الثانية</p>

      <p>بحكم اني حساوي واغلب الحساوية ما تحب تطلع من الحسا؛ ما كنت ابحث عن وظايف كثير لكن شاغل نفسي بالتدريب والدورات و العمل الحر. جاتني فرصة تدريب من هواوي كانت المفروض منتهية بالتوظيف لكن سحبوا علينا وقالوا منتهية بمقابلة. ما حصل لنا نصيب. وبعدها صار عند هواوي معرض خاص فيهم للتوظيف يكون الحضور بالدعوة فقط و الشركات هم هواوي و شركائها. لكن عافتهم النفس بعد السحبة حقتهم</p>

      <p>
        مرت سنة وشوي بعد سالفة هواوي؛ وبعد ما طلع الكورونا في الصين بشهرين توظفت في الحسا قبل ما يوصل لنا الكورونا وقبل إجراءات حضر التجول
        <br>
        جلست معاهم تقريبا ثمانية شهور طلعت لان جاء لي عرضين مو مؤكدين؛ الأول من البترول عن طريق كنتراكتر والثاني من مرسول وسحبت على الشركة قدمت استقاله وقبلت عرض الكنتراكتر وقلت لهم ينتظروني فترة الأشعار
      </p>

      <p>دخلت البترول ك كنتراكتر؛ الراتب مش كبير؛ لكن التجربة مريحة أكثر وكذلك فيه اشخاص استفيد منهم أكثر وغير كذا دوام 5 ايام مقارنة بالشركة السابقة كان فيه دوام يوم السبت أربع ساعات</p>

      <p>تقريبا في الاسبوع الثاني جاني عرض مرسول. عرض مبدئي على ما تم تأكيد كل شي قلت للكنتراكتر بقعد ست اسابيع فقط. الحكمة من ست اسابيع اني اخلص أكثر قدر مهام علشان اترك بصمة علشان اذا حصل لنا نصيب ومنها تنكتب في السيرة كأنها ثلاث شهور (الاسبوع الاول في شهر لحاله و أربعة اسابيع في شهر و الأسبوع الأخير في شهر) 🤓😎🤓</p>

      <p>والحمد لله رحت عند مرسول المسمى الوظيفي Frontend Engineer وللآن لازلت عندهم منذ 2020 نوفمبر. ولله الحمد كنت في البترول اروح يوميا بباص والحين اداوم من البيت. والوضع المادي افضل و بيئة العمل أكبر وغير كذا مرسول شركة تقنية اما البترول جامعة؛ لها وزن لكن مو اثقل من شركة تقنية كبيرة مثل مرسول</p>

      <p>وهاذي تجربتي؛ اللي حاب يسئل ما عنده مشكلة؛ والي يبي يسئل خاص أيضا ما عنده مشكلة لكن الأفضل يكون في القروب علشان الكل يستفيد</p>
    </app-article>
  </div>
</template>

<script>
export default {
  head: {
    title: 'تجربتي - ابراهيم البلادي',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'تجربة مطور ويب فرونت اند.'
      }
    ]
  }
}
</script>
