<template>
  <div>
    <app-article>
      <p>
        ما عندي اطلاع كبير في هالمجال للأسف
        <br>
        لكن بعطيكم الي عندي
        <br>
        من ناحية الأداء و المخرجات النيتف افضل شيء بدون منازع؛ صحيح كل واحد لغة بس ذي مشكلة صاحب المشروع مو مشكلتك (الا اذا كنت صاحب المشروع)
        <br>
        فيه غير النيتف فيه هجين وفيه كروس بلاتفورم؛ وكل وحدة تندرج تحتها العديد من اللغات و اطارات العمل والأدوات (إذا لك خلق تبحث وقت ما تكون فاضي)
      </p>

      <p>
        <strong>الهجين و الكروس بلاتفورم مختلفين؛ لكن نفترض حاليا هم نفس الشي.</strong>
        <br>
        تكتب كود واحد وتصدر المشروع على أكثر من نظام (مو شرط فقط أندرويد و iOS. بس على حسب الأدوات المستخدمة)
      </p>

      <p>
        كود واحد معناتها تصدير المشروع الى السوق يكون أسرع فلهاذا بعض الشركات تمشي كذا في البداية؛ تحط الاساسات. ترسم الخطط؛ تجمع فلوس؛ تالي تبني نيتف
      </p>

      <p>
        كتابة كود واحد بتخليك تصير شوي محصور في الخدمات والمميزات المشتركة للأنظمة الي تدعمها الأدوات. فقد تشوف نفسك في زاوية تسوي اكواد خاصة للاندرويد و اكواد خاصة لنظام ابل وهنا تبدأ المشاكل للجميع. الكود يصير حوسة وصعب تطلع منها
      </p>

      <p>
        كذلك فيه مشكلة ان تطبيقات الايفون لها طريقة عرض تختلف عن الاندرويد (وكذلك الانظمة الأخرى في حال دعمها) فممكن التطبيق المستخرج يكون كأنه من الفضاء جاي
      </p>

      <p>
        لكن تحتاج معلومات أكثر من ناس مختصة علشان تعطيك تصور افضل. هالايام فيه شوي ازدياد للطلب على flutter (بسبب الجودة و/أو التطبيل) وفي شوي صعوبة للدخول في مجال النيتف لان السوق شوي متشبع
      </p>
    </app-article>
  </div>
</template>

<script>
export default {
  head: {
    title: 'نيتف ولا لا - ابراهيم البلادي',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'اطور باستخدام لغات نيتف ولا لا؟'
      }
    ]
  }
}
</script>
