<template>
  <div>
    <app-article>
      <p>
        <ol>
          <li>
            يتأكد انه في القسم الي يناسبه
          </li>
          <li>
            يتأكد انه في التخصص الي يناسبه أو يتفحص التخصصات الي يشوفها مناسبة
          </li>
          <li>
            يهتم بنومه
          </li>
          <li>
            يهتم باختيار روميته اذا كان بيسكن في الجامعة
          </li>
          <li>
            الدوام والمذاكرة اهم عمليتين يسوييهم في الجامعة بشكل دوري
          </li>
          <li>
            يحاول يقلل من الأشياء اللي تاكل وقت؛
            <ul>
              <li>
                اللعب والمتابعة والطلعات؛ تكون قليلة علشان تغيير جو ومتى ما كان الشخص فاضي
              </li>
            </ul>
          </li>
          <li>
            تخصيص بعض الأوقات لتغيير الجو خصوصا اذا مافي ضغط؛
            <ul>
              <li>مثل الملعب أو الجم مرة او مرتين كل اسبوع</li>
            </ul>
          </li>
          <li>
            وكذلك إذا كان من الشرقية ويقدر يروح ويجي كل يوم افضل انه يسكن في الجامعة؛
            <ul>
              <li>المشاوير من وإلى الجامعة تاكل وقت, ادرسها وشف كم راح توفر من وقتك مقابل 150 ريال في الشهر</li>
            </ul>
          </li>
          <li>
            في حال انك من سكان الجامعة (ممكن تنطبق لغير السكان ايضا) حاول انك تتقبل اكل الجامعة؛

            <ul>
              <li>
                لان مصروفك الشهري هو 840 ريال في الشهر أو تقريبا 28 ريال لليوم الواحد.
              </li>
              <li>
                اكلك الكثير من بره أو حتى من المول بخليك مفلس نهاية الشهر واحيانا من نص الشهر
              </li>
            </ul>
          </li>
          <li>
            النوم يفضل يكون مرتب؛
            <ul>
              <li>
                لان تقريبا كل مرافق الجامعة لها وقت دوام؛ قليل يكون فاتح 24 ساعة أو على الأقل لين بعد منتصف الليل
              </li>
              <li>
                في حال كان نومك مضروب وتجلس الليل كانك باتمان, فاحتمال كبير راح تاكل من بره او من المول وتضيع وقت
              </li>
            </ul>
          </li>
          <li>
            شي طبيعي انك تكون مضغوط اغلب الايام؛
            <ul>
              <li>
                الدكاترة كل واحد يفترض انك بس تداوم محاضرته فقط.
              </li>
              <li>
                ف توقع انك راح تكون مشغول في حل الواجبات و المذاكرة للاختبارات اغلب وقتك بعد الدوام (احيانا اثناء الدوام إذا كان عندك بريك)
              </li>
            </ul>
          </li>
          <li>
            الاختبارات الشهرية أو النصفية عادة تكون قريبة من بعض وأحيانا أكثر من اختبار يكون في نفس الوقت.
            <ul>
              <li>
                هاذا الشي اعتيادي؛ الواحد المفروض يتوقع هالشي لين يتم جدولة اختباراته
              </li>
            </ul>
          </li>
          <li>
            بالنسبة للاختبارات النهائية الوضع مشابة؛ الاختبارات راح تكون موزعة على حدود اسبوعين فالجامعة والحياة تصير كئيبة مذاكرة في مذاكرة.
            لكن فيه فرق بخصوص الجدولة؛
            <ul>
              <li>
                الشهرية أو النصفية تكون قابلة للتغير (حسب المدرس أو المدرسين) وممكن يكون عندك يوم فيه ثلاث اختبارات؛
              </li>
              <li>
                لكن بالنسبة للنهاية تكون غير قابلة للتغيير الا في حالات نادرة والجدولة تكون بحد أقصى فيه اختبارين في 24 ساعة (اختبار 8 الصبح؛ اختبار الليل؛ اختبار 8 الصبح اليوم الثاني ما تعتبر ثلاث اختبارات في 24 ساعة) في حال ان عندك أكثر من اختبارين في 24 ساعة لك الحق انك تعترض ويعيدون الجدولة للاختبار
              </li>
              <li>
                لكن فيه حالة خاصة ما تقدر تعترض الا وهي لما تنزل مواد الفرق بينها سنتين او اكثر؛ مثلا مادة 108 مع مادة 301؛ فهاذي مشكلتك انت اذا فيه تعارض اختبارات أو عندك أكثر من اختبارين في 24 ساعة. ممكن يصير عندك اختبار الساعة 8 لمدة ساعتين و اختبار ثاني مثلا 9 لمدة ثلاث ساعات؛ فهنا الحل الوحيد تشوف المدرسين وإذا بيسمحون لك؛ البعض ما يسمح فممكن تخلص الأول وتركض تروح الثاني
              </li>
            </ul>
          </li>
        </ol>
      </p>
    </app-article>
  </div>
</template>

<script>
export default {
  head: {
    title: 'نصايح عامة للاوريات والبريات - ابراهيم البلادي',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'نصايح عامة للاوريات والبريات'
      }
    ]
  }
}
</script>
