<template>
  <div>
    <app-article>
      <p>
        س: ايباد ولا لا؟
        <br>
        ايباد ما احس مفيد حيل؛ ممكن تحصل بعض المدرسين النفسية يمنعونك من استخدام الايباد  (والجوال) في الكلاس
      </p>
      <v-divider />
      <p>
        س: ماك ولا ويندوز ولا لينكس
        <br>
        ممكن أفضل نظام هو الويندوز لانك قد تحتاج بعض البرامج لبعض المواد؛ وكذلك بتحتاج إلى برامج الاوفس (نقدر نستبدلهم),
        <br>
        لكن مع مرور الوقت اصبحت الانظمة الاخرى تستوفي اغلب احتياجات الجامعة, فالامر في النهاية يرجع لك
        <br>
        تفضيلي الشخصي هو اللينكس, اذا ناوي تتعلم لينكس يكون ممتاز لك وممكن يفيديك كثير بعد الجامعة
      </p>
      <v-divider />
      <p>
        س: كمبيوتر ولا لابتوب
        <br>
        إذا كان شخص كثير سفر فـ اللابتوب افضل من الكمبيوتر
        <br>
        اما اذا ما ببتحرك من مكانه ممكن الكمبيوتر يكون انسب لانه بيكون سعره ارخص من اللابتوب وباداء اقوى
      </p>
      <v-divider />
      <p>
        س: هل ضروري يكون خبير قبل لا يدخل الجامعة
        <br>
        مو لازم يكون خبير؛ انا داخل الجامعة (سنة 2012) صفر خبرة؛ لكن ما يمنع ياخذ له خبرة في المجال الي يتمناه.
        <br>
        وكذلك الخبرة يقدر ياخذها وهو يدرس إذا عنده وقت
      </p>
      <v-divider />
      <p>
        س: وش يتعلم قبل لا يدخل
        <br>
        التعلم مب ضروري لكن حسب المجال الي يبيه الشخص, اذا ما يعرف مجاله يحاول يستشكف اكثر من مجال, لين يوصل المجال الي يبغاه
        <br>
        الشخص يقدر يتعلم اشياء تساعده في الجامعة اذا حاب, لكن اغلب الي في الجامعة يقدر ياخذه في الكورسات اذا كان منظم وفته
      </p>
      <v-divider />
      <p>
        س: متطلبات التخصص وهل يناسبك
        <br>
        ما ادري اذا فيه متطلبات فعليه؛ لكن مثلا نقدر نقول الالمام بالحاسب ومجالاته.
        <br>
        إذا كان علوم حاسب نقدر نضيف عليها الرياضيات (بس الجانب الحلو فقط).
        <br>
        اهم شيء الواحد يشوف الي يناسبه؛ دخولك لتخصص تبدع فيه مو بالضرورة معناته تحبه.
        <br>
        الأفضل الواحد يخش تخصص يحبه؛ واذا كان يحبه ومبدع فيه يكون أفضل وأفضل
      </p>
    </app-article>
  </div>
</template>

<script>
export default {
  head: {
    title: 'اسئلة واجوبة - ابراهيم البلادي',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'اسئلة واجوبة'
      }
    ]
  }
}
</script>
