<template>
  <div>
    <app-article>
      <p>
        يعتمد على توجهك، لكن في البداية اقترح تتعلم c إذا ناوي تكمل
        <span dir="ltr">c++</span>
        لان فيه اعتمادية كبيرة
        <br>
        كذلك فيه مقولة في عالم لغة c اي شي يكتب بلغة
        <span dir="ltr">c++</span>
        مصيره في المستقبل يتحول إلى c
      </p>

      <p>
        حاليا c هي افضل لغة للبشر من حيث الأداء؛ مافي شي أفضل منها الا لغات الحاسب منخفضة المستوى
        <br>
        مشكلة السي فيها مشاكل كثيرة؛ وفيها التحكم بالميموري عليك، فلازم مثل ما تفتح شي لازم تسكره ولا راح يطفي البرنامج لانه اكل الميموري كامل
        <br>
        كذلك ال debugging صعب؛ يجيلك segmentation fault وبعدها تبحث عن مشكلة بدون ما تعرف السطر
      </p>

      <p>
        <span dir="ltr">c++</span>
        فيها شوي تحسينات على المشاكل أعلاه؛ لكن هالمشاكل لازالت موجودة
        <br>
        إذا وفقط إذا كان المشروع يعتمد على الأداء و السرعة والذاكرة؛ ف c هي اللغة المطلوبة. عدى ذلك الأفضل تجنبها
      </p>

      <p>
        في حال انك اكيد بتستخدم او تتعلم وحدة منهم, فانا اقترح انك تعلم لغة c قبل لان الأساس واحد؛ لان
        <span dir="ltr">c++</span>
        عميقة جدا
        <br>
        فقبل ما تسبح في العميق شوف اذا تعرف تسبح اول او لا
      </p>

      <p>
        فيه لغة اسمها rust توجهها نفس توجه لغة c ممكن في المستقبل تاخذ مكان لغة c وممكن لا, الله العالم.
        اذا مجالك يحتاج برمجة باستخدام لغات برمجة عالية المستوى لكنها منخفضة مقارنة باللغات العالية الاخرى, انصح تبحث عن rust علشان يكون عندك اطلاع على الاقل
      </p>
    </app-article>
  </div>
</template>

<script>
export default {
  head: {
    title: 'اتعلم سي ولا سي++؟ - ابراهيم البلادي',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'اتعلم سي ولا سي++؟'
      }
    ]
  }
}
</script>
