
<template>
  <div>
    <app-article>
      <ol>
        <li>لغة سواء قراءة أو كتابة أو سماع أو تحدث</li>
        <li>خد لك لفة سريعة على مجالات الحاسب</li>
        <li>شوف الفروقات بين تخصصات الحاسب</li>
        <li>شوف التخصصات الدقيقة المتوفرة</li>
        <li>شوف تبي تكمل اكاديمي أو لا</li>
      </ol>

      <!-- eslint-disable-next-line vue/html-self-closing -->
      <v-divider class="my-3"></v-divider>

      <ul>
        <li>لا تفكر كثير في المستقبل لانه بيتغير كثير بعد 5/6 سنوات</li>
        <li>ركز على ميولك وتعلم في مجال ميولك</li>
      </ul>
    </app-article>
  </div>
</template>

<script>
export default {
  head: {
    title: 'ايش اتعلم قبل ما ادخل الجامعة - ابراهيم البلادي',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'ايش اتعلم قبل ما ادخل الجامعة.'
      }
    ]
  }
}
</script>
