<template>
  <v-container>
    <v-card>
      <v-card-title>
        {{ currentPost.title }}
      </v-card-title>
      <v-card-text>
        <v-row justify="center">
          <v-col cols="12">
            <v-chip class="ma-1" :to="{name: currentAuthor.id}">
              الكانب:
              {{ currentAuthor.name }}
            </v-chip>
            <v-chip class="ma-1">
              وقت الكتابة:&nbsp;
              <span dir="ltr">{{ currentPost.created_at }}</span>
            </v-chip>
            <v-chip v-if="currentPost.created_at != currentPost.updated_at" class="ma-1">
              اخر تحديث:&nbsp;
              <span dir="ltr">{{ currentPost.updated_at }}</span>
            </v-chip>
          </v-col>
          <v-col cols="8">
            <v-divider />
          </v-col>
          <v-col cols="12" class="text--primary text-body-1">
            <slot />
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import authors from '@/database/authors'
import posts from '@/database/posts'

export default {
  data () {
    return {
      authors,
      posts
    }
  },
  computed: {
    currentAuthor () {
      const authorID = this.$route.fullPath.substring(1).split('/')[0]
      const author = this.authors.find(author => author.id === authorID)
      return author || {}
    },
    currentPost () {
      const slug = this.$route.fullPath.substring(1)
      const post = this.posts.find(post => post.slug === slug)
      return post || {}
    }
  }
}
</script>
