<template>
  <v-card :to="post.slug" class="fill-height">
    <v-card-title>
      {{ post.title }}
    </v-card-title>
    <v-card-text>
      {{ post.created_at }}
      <template v-if="post.created_at != post.updated_at">
        <br>
        تم تحديث المقالة في
        <span dir="ltr">
          {{ post.updated_at }}
        </span>
      </template>
    </v-card-text>
    <v-card-actions v-if="showAuthor">
      <v-icon right>
        mdi-emoticon
      </v-icon>
      {{ post.author }}
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      required: true
    },
    showAuthor: {
      type: Boolean,
      default: false
    }
  }
}
</script>
