<template>
  <div>
    <v-card v-if="currentAuthor">
      <v-card-title>
        <div>{{ currentAuthor.name }}</div>
      </v-card-title>
      <v-card-text>
        <div>
          <v-icon right>
            mdi-school
          </v-icon>
          {{ currentAuthor.major }}
        </div>
        <div>
          <v-icon right>
            mdi-account-group
          </v-icon>
          {{ currentAuthor.batch }}
        </div>
        <div>
          <v-icon right>
            mdi-briefcase
          </v-icon>
          {{ currentAuthor.job }}
        </div>
      </v-card-text>
    </v-card>

    <v-container>
      <v-col v-if="currentAuthor" cols="12" class="mt-3">
        <v-row>
          <v-col cols="12">
            المقالات
          </v-col>
          <v-col v-for="post in currentAuthorPosts" :key="post.slug" cols="6" md="4" lg="3">
            <app-article-card :post="post" />
          </v-col>
        </v-row>
      </v-col>
    </v-container>
  </div>
</template>

<script>
import authors from '@/database/authors'
import posts from '@/database/posts'

export default {
  data () {
    return {
      authors,
      posts
    }
  },
  computed: {
    currentAuthor () {
      const slug = this.$route.name.toLowerCase()
      const author = this.authors.find(author => author.id === slug)
      return author || {}
    },
    currentAuthorPosts () {
      const slug = this.$route.name.toLowerCase()
      const posts = this.posts.filter(post => post.author === slug)
      return posts
    }
  }
}
</script>
