.v-application--is-rtl ol,
.v-application--is-rtl ul {
	padding-left: 0px;
	padding-right: 24px;
}

br {
	margin-bottom: 6px;
}

li {
	padding-bottom: 4px;
	padding-top: 4px;
}

div.v-card__title {
	word-break: normal;
}