<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card>
        <v-card-title class="headline">
          موقع مقالات
        </v-card-title>
        <v-card-text>
          للمشاركة في كتابة المقالات يمكنك المشاركة في Repository المشروع في موقع gitlab عن طريق
          <a href="https://gitlab.com/maqalat/maqalat" target="_blank">هذا الرابط</a>
        </v-card-text>
      </v-card>
    </v-col>

    <v-col cols="12">
      <v-row>
        <v-col cols="12">
          المقالات
        </v-col>
        <v-col v-for="post in posts" :key="post.slug" cols="6" md="4" lg="3">
          <app-article-card :post="post" />
        </v-col>
      </v-row>
    </v-col>

    <v-col cols="12">
      <v-row>
        <v-col cols="12">
          كاتبي المقالات
        </v-col>
        <v-col
          v-for="author in authors"
          :key="author.id"
          cols="6"
          md="4"
          lg="3"
        >
          <v-card :to="author.id">
            <v-card-title>
              <v-icon right>
                mdi-emoticon
              </v-icon>
              {{ author.name }}
            </v-card-title>
            <v-card-text>
              {{ author.major }} - {{ author.batch }}
              <br>
              {{ author.job }}
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import posts from '@/database/posts'
import authors from '@/database/authors'

export default {
  data () {
    return {
      posts,
      authors
    }
  }
}
</script>
