<template>
  <v-row justify="center" align="center">
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-icon right>
                mdi-filter
              </v-icon>
              تصفية
            </v-col>
            <v-col>
              <v-autocomplete
                v-model="author"
                :items="authors"
                item-text="name"
                item-value="id"
                clearable
                label="الكاتب"
              />
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>

    <v-col cols="12">
      <v-row>
        <v-col cols="12">
          المقالات
        </v-col>
        <v-col v-for="post in filteredPosts" :key="post.slug" cols="6" md="4" lg="3">
          <app-article-card :post="post" show-author />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import posts from '@/database/posts'
import authors from '@/database/authors'

export default {
  data () {
    return {
      posts,
      authors,
      author: null
    }
  },
  computed: {
    filteredPosts () {
      let posts = this.posts

      if (this.author) {
        posts = posts.filter(post => post.author === this.author)
      }

      return posts
    }
  }
}
</script>
